.eHezJm {
    background-color: var(--color-brand--background) !important;
    border-radius: var(--border-radius--small) !important;
    padding: 1.5rem !important;
}

.hvaWKn {
    gap: 1.25rem !important;
}